{% extends "layout.html" %}

{% block hero %}
    <div class="hero" style="margin-top:56px;">
        <div class="text-center">
            <h1>Welcome to my Flask Portfolio!</h1>
            <p>This is my portfolio website used to show off a few of my projects. In this page, you will find the project names, as well as links attached to each of the projects, and a brief description over their use.</p>
        </div>
    </div>
{% endblock hero %}

{% block content %}
    <section class="projects">
        <h1 class="text-center">Projects</h1>
        <hr>
        {% for project in projects %}
            <article>
                {% if project.image %}
                    <img src="{{ url_for('static', filename=project.image) }}" alt="{{ project.title }} image" class="project-image" width = "150" height = "150" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <div class="article-metadata">
                        <h2>
                            <a class= "article-title" href="{{ project.link }}">{{ project.title }}</a>
                        </h2>
                        <p class= "article-content">{{ project.description }}</p>
                    </div>
                </div>
            </article>
        {% endfor %}
{% endblock content%}
