{% extends "layout.html" %}
{% block content %}
    <section class="intro">
        <h1>Hi, I'm Ian!</h1>
        <p>Welcome to my portfolio website! In this page, you will find my projects, and you can go into each project to learn more about them from the descriptions, and the Github links.</p>
    </section>

    <section class="projects">
        <h1>Projects</h1>
        <hr>
        {% for project in projects %}
            <article>
                {% if project.image %}
                    <img src="{{ url_for('static', filename=project.image) }}" alt="{{ project.title }} image" class="project-image" width = "150" height = "150" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <div class="article-metadata">
                        <h2>
                            <a class= "article-title" href="{{ project.link }}">{{ project.title }}</a>
                        </h2>
                        <p class= "article-content">{{ project.description }}</p>
                    </div>
                </div>
            </article>
        {% endfor %}
{% endblock content%}
